html {
    height: 100%;
    width: 100%;
    background-color: rgba(16, 133, 243, 0.4);
}
img {
    width: 850px;
    height: 500px;
}

h1, h2, h3, h4, h5, h6, p, a, dt, th, td {
    font-family: 'Roboto', sans-serif;
}

body {
    height: inherit;
    margin: 0 auto 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 1000px;
}

.method, .case {
    padding-left: 20px;
    padding-right: 20px;
    float: left;
    width: 960px;
}

.method div, .case div {
    width: 100%;
}

.tests {
    float: left;
    background-color: ghostwhite;
    border-radius: 5px;
    box-shadow: 0px 0px 10px black;
}

.header {
    margin-bottom: 20px;
    margin-top: 20px;
    display: inline-block;
    margin-bottom: 25px;
    background-color: ghostwhite;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 10px black;
}

#element img {
    width: 100px;
}

#window img {
    width: 900px;
}

#method img {
    width: 770px;
}

#errorP {
    color: rgb(197, 23, 23);
    font-size: 20px;
}

footer {
    width: 1000px;
    display: flex;
    margin: 0 auto;
    margin-top: 100px;
    height: 100%;
    max-width: 1000px;
    background-color: ghostwhite;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0px 0px 10px black;
}

#footer {
    padding: 20px;
}

.method h4 {
    margin-right: 50px;
    font-size: 25px;
    display: inline-block;
}

.fas.fa-check {
    color: green;
    font-size: 30px;
    float: right;
}

.fas.fa-times {
    color: red;
    font-size: 30px;
    float: right;
}

.fas.fa-forward {
    color: grey;
    font-size: 30px;
    float: right;
}

i {
    display: inline-block;
}

.case p {
    overflow-wrap: break-word;
}

.method p {
    overflow-wrap: break-word;
    display: inline-block;
}
